parameters:
	level: 6
	paths:
		- src/
	parallel:
		jobSize: 20
		maximumNumberOfProcesses: 32
		minimumNumberOfJobsPerProcess: 2
	inferPrivatePropertyTypeFromConstructor: true
	treatPhpDocTypesAsCertain: true
	reportUnmatchedIgnoredErrors: false
